.form-loader {
    display: block;
    margin: auto;
    width: 55px;
    height: 55px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.div-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    animation-name: rotateAnim;
    -o-animation-name: rotateAnim;
    -ms-animation-name: rotateAnim;
    -webkit-animation-name: rotateAnim;
    -moz-animation-name: rotateAnim;
    animation-duration: 0.3275s;
    -o-animation-duration: 0.3275s;
    -ms-animation-duration: 0.3275s;
    -webkit-animation-duration: 0.3275s;
    -moz-animation-duration: 0.3275s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.div-loader div {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid rgb(0,0,0);
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.div-loader div:nth-child(odd) {
    border-top: none;
    border-left: none;
}
.div-loader div:nth-child(even) {
    border-bottom: none;
    border-right: none;
}
.div-loader div:nth-child(2) {
    border-width: 1px;
    left: 0px;
    top: -2px;
    width: 7px;
    height: 7px;
}
.div-loader div:nth-child(3) {
    border-width: 1px;
    left: -1px;
    top: 2px;
    width: 10px;
    height: 10px;
}
.div-loader div:nth-child(4) {
    border-width: 2px;
    left: -1px;
    top: -2px;
    width: 13px;
    height: 13px;
}
.div-loader div:nth-child(5) {
    border-width: 2px;
    left: -1px;
    top: 2px;
    width: 18px;
    height: 18px;
}
.div-loader div:nth-child(6) {
    border-width: 2px;
    left: 0px;
    top: -2px;
    width: 22px;
    height: 22px;
}
.div-loader div:nth-child(7) {
    border-width: 2px;
    left: 0px;
    top: 3px;
    width: 27px;
    height: 27px;
}


@keyframes rotateAnim {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes rotateAnim {
    from {
        -o-transform: rotate(360deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateAnim {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateAnim {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateAnim {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}
textarea{
    resize: none !important;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.select2{
    width:100% !important;
}

.select2-container .select2-selection--single {
    height: 42px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px !important;
    top: 8px !important;
    width: 24px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 41px !important;
}

.imgDelBtn{
    position: absolute;
}
